/* Define custom styling for Amarah Admin */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

header {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}